.DS_Store
/.vscode
/node_modules/
/.turbo/
/mock-server/node_modules/
/e2e/node_modules/
/e2e/test-results/
/e2e/allure-results/
/e2e/allure-report/

/.react-router/
/build/
/client/dist
/client/.env
/server/.env
docker-compose.dev.yml
